*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    height: 200vh;
    background-color: #ffffff;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 20px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}

header.rolagem{
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a, header.rolagem i{
    color: #ff2f00;
}

header i{
    font-size: 30px;
    color: #fff;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: #ffffff;
    text-decoration: none;
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
}

.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #ffffff;
    color: red;
    cursor: pointer;
    border-radius: 10px;
    transition: .2s;
}

.banner-nintendo{
    height: 100vh;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://www.hardware.com.br/wp-content/uploads/static/wp/2022/07/07/H2x1_NintendoLogo_Red.png);

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-nintendo h1{
    font-size: 4em;
}   

.banner-nintendo h1 span{
    color: #FFAE81;
}

.container-body{
    width: 80%;
    margin: auto;
}

.container-body h1{
    color: red;
    margin-top: 30px;
    border-bottom: 2px solid rgb(253, 128, 128);
}

.consoles{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.consoles article{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.consoles article img{
    width: 100%;
    height: 180px;
}

.textos-console{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin-top: 10px;
}

.textos-console h2{
    border-bottom: 1px solid grey;
}

.textos-console h4{
    font-size: 12px;
    color: rgb(151, 151, 151);
    margin-top: 10px
}

.textos-console p{
    margin-top: 20px;
    font-size: 17px;
}