*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    height: 200vh;
    background-color: #FFF;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 20px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}

header.rolagem{
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a, header.rolagem i{
    color: #030397;
}

header i{
    font-size: 30px;
    color: #fff;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: #fff;
    text-decoration: none;
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
    transition: 2s;
}

header ul li a:hover{
    color: #0202ce;
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
}

.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #030397;
    color: #fff;
    cursor: pointer;
    transition: .2s;
    border-radius: 10px;
}

.banner{
    height: 100vh;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://wallpapers.com/images/high/playstation-4k-zxcmogzk61tb2ywq.webp');

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1{
    color: white;
    font-size: 4em;
}

.banner h1 span{
    color: #030397;
}

.container-body{
    width: 80%;
    margin: auto;
}

.container-body h1{
    color: #0202ce;
    margin-top: 30px;
    border-bottom: 2px solid #717172c0;
}

.consoles{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}
.consoles article{
    width: 30%;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(47, 53, 252);
    border-radius: 10px 10px 0px 0px;
}
.consoles article img{
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0px 0px;
}

.consoles article button{
    width: 30%;
    margin: auto;
    height: 25px;
    
    cursor: pointer;

    background-color: #0202ce;
    color: white;
    font-weight: bold;
    
    border-radius: 5px;
    border: 1.5px solid rgb(4, 4, 137);
    transition: 1s;
}
.consoles article button:hover{
    box-shadow: 0px 0px 20px blue;
}

.textos-console{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin-top: 10px;
}

.textos-console h2{
    border-bottom: 1px solid grey;
}

.textos-console h4{
    font-size: 12px;
    color: rgb(151, 151, 151);
    margin-top: 10px
}

.textos-console p{
    margin-top: 10px;
    font-size: 17px;
}
